<h1>Admin</h1>

<h2>Character Components</h2>

<div class="list-group">
	<a href="<%= admin_character_types_path %>" class="list-group-item">
		<h4 class="list-group-item-heading">Character Types</h4>
		<p class="list-group-item-text">Add and edit playable character types.</p>
	</a>
	<a href="<%= admin_power_types_path %>" class="list-group-item">
		<h4 class="list-group-item-heading">Power Types</h4>
		<p class="list-group-item-text">Add and edit types of powers (e.g. Disciplines, Arcana, Spells, etc.)</p>
	</a>
	<a href="<%= admin_powers_path %>" class="list-group-item">
		<h4 class="list-group-item-heading">Powers</h4>
		<p class="list-group-item-text">Manage individual powers and what power type they belong to.</p>
	</a>
	<a href="<%= admin_power_types_path %>" class="list-group-item">
		<h4 class="list-group-item-heading">Lineages</h4>
		<p class="list-group-item-text">Add and edit character type lineages (e.g. clans, paths, etc.)</p>
	</a>
	<a href="<%= admin_power_types_path %>" class="list-group-item">
		<h4 class="list-group-item-heading">Affiliations</h4>
		<p class="list-group-item-text">Add and edit character affiliations such as covenants, orders, etc.</p>
	</a>
</div>