	<div class="row">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="row">
		<%= f.label :power_stat %>
		<%= f.text_field :power_stat %>
	</div>
	<div class="row">
		<%= f.label :resource %>
		<%= f.text_field :resource %>
	</div>
	<div class="row">
		<%= f.label :morality %>
		<%= f.text_field :morality %>
	</div>
	<div class="row">
		<%= f.label :behavior_primary %>
		<%= f.text_field :behavior_primary %>
	</div>
	<div class="row">
		<%= f.label :behavior_secondary %>
		<%= f.text_field :behavior_secondary %>
	</div>
	<div class="row">
		<%= f.label :question1 %>
		<%= f.text_field :question1 %>
	</div>
	<div class="row">
		<%= f.label :question2 %>
		<%= f.text_field :question2 %>
	</div>
	<div class="row">
		<%= f.label :question3 %>
		<%= f.text_field :question3 %>
	</div>
	<div class="row">
		<%= f.label :question4 %>
		<%= f.text_field :question4 %>
	</div>
	<div class="row">
		<%= f.label :question5 %>
		<%= f.text_field :question5 %>
	</div>
	<div class="row">
		<%= f.label :question6 %>
		<%= f.text_field :question6 %>
	</div>
	<div class="row">
		<%= f.label :question7 %>
		<%= f.text_field :question7 %>
	</div>
	<div class="row">
		<%= f.label :question8 %>
		<%= f.text_field :question8 %>
	</div>
	<button class="button" type="submit">Create</button>