	<table width="100%" class="table">
		<tr>
			<td valign="top">
				<%= f.text_field :name %>
			</td>
			<td valign="top">
				<%= f.label :behavior_primary, @character_type.behavior_primary %>
				<%= f.text_field :behavior_primary, label: false %>
			</td>
			<td valign="top">
				<%= f.label :lineage, @character_type.lineage %>
				<%= collection_select(:lineage, :lineage_id, Lineage.all, :id, :name, {}) %>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<%= f.label :user_id, "Player" %>
				<%= hidden_field_tag :user_id, session[:user_id] %>
				<%= @user.name %>
			</td>
			<td valign="top">
				<%= f.label :behavior_secondary, @character_type.behavior_secondary %>
				<%= f.text_field :behavior_secondary, label: false %>
			</td>
			<td valign="top">
				<%= f.label :sublineage, @character_type.sublineage %>
				<%= f.text_field :sublineage, label: false %>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<%= f.label :chronicle_id, "Chronicle" %>
				<%= collection_select(:chronicle, :chronicle_id, Chronicle.all, :id, :title, {}) %>
			</td>
			<td valign="top">
				
			</td>
			<td valign="top">
				<%= f.label :affiliation, @character_type.affiliation %>
				<%= collection_select(:affiliation, :affiliation_id, Affiliation.all, :id, :name, {}) %>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<h2>Attributes</h2>
				<table width="100%" class="table">
					<tr>
						<th></th>
						<th>Mental</th>
						<th>Social</th>
						<th>Physical</th>
					</tr>
					<tr>
						<th>Power</th>
						<td>
							<table width="100%">
								<tr>
									<th>Intelligence</th>
									<td>
										<input type="radio" value="1" name="character[attribs][1]" />
										<input type="radio" value="2" name="character[attribs][1]" />
										<input type="radio" value="3" name="character[attribs][1]" />
										<input type="radio" value="4" name="character[attribs][1]" />
										<input type="radio" value="5" name="character[attribs][1]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Strength</th>
									<td>
										<input type="radio" value="1" name="character[attribs][4]" />
										<input type="radio" value="2" name="character[attribs][4]" />
										<input type="radio" value="3" name="character[attribs][4]" />
										<input type="radio" value="4" name="character[attribs][4]" />
										<input type="radio" value="5" name="character[attribs][4]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Presence</th>
									<td>
										<input type="radio" value="1" name="character[attribs][7]" />
										<input type="radio" value="2" name="character[attribs][7]" />
										<input type="radio" value="3" name="character[attribs][7]" />
										<input type="radio" value="4" name="character[attribs][7]" />
										<input type="radio" value="5" name="character[attribs][7]" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<th>Finesse</th>
						<td>
							<table width="100%">
								<tr>
									<th>Wits</th>
									<td>
										<input type="radio" value="1" name="character[attribs][2]" />
										<input type="radio" value="2" name="character[attribs][2]" />
										<input type="radio" value="3" name="character[attribs][2]" />
										<input type="radio" value="4" name="character[attribs][2]" />
										<input type="radio" value="5" name="character[attribs][2]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Dexterity</th>
									<td>
										<input type="radio" value="1" name="character[attribs][5]" />
										<input type="radio" value="2" name="character[attribs][5]" />
										<input type="radio" value="3" name="character[attribs][5]" />
										<input type="radio" value="4" name="character[attribs][5]" />
										<input type="radio" value="5" name="character[attribs][5]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Manipulation</th>
									<td>
										<input type="radio" value="1" name="character[attribs][8]" />
										<input type="radio" value="2" name="character[attribs][8]" />
										<input type="radio" value="3" name="character[attribs][8]" />
										<input type="radio" value="4" name="character[attribs][8]" />
										<input type="radio" value="5" name="character[attribs][8]" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<th>Resistance</th>
						<td>
							<table width="100%">
								<tr>
									<th>Resolve</th>
									<td>
										<input type="radio" value="1" name="character[attribs][3]" />
										<input type="radio" value="2" name="character[attribs][3]" />
										<input type="radio" value="3" name="character[attribs][3]" />
										<input type="radio" value="4" name="character[attribs][3]" />
										<input type="radio" value="5" name="character[attribs][3]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Stamina</th>
									<td>
										<input type="radio" value="1" name="character[attribs][6]" />
										<input type="radio" value="2" name="character[attribs][6]" />
										<input type="radio" value="3" name="character[attribs][6]" />
										<input type="radio" value="4" name="character[attribs][6]" />
										<input type="radio" value="5" name="character[attribs][6]" />
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<th>Composure</th>
									<td>
										<input type="radio" value="1" name="character[attribs][9]" />
										<input type="radio" value="2" name="character[attribs][9]" />
										<input type="radio" value="3" name="character[attribs][9]" />
										<input type="radio" value="4" name="character[attribs][9]" />
										<input type="radio" value="5" name="character[attribs][9]" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<h2>Skills</h2>
				<h3>Mental</h3>
				<table width="100%">
					<% @mental_skills.each do |skill| %>
						<tr>
							<th><%= skill.name %></th>
							<td>
								<input type="radio" value="1" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="2" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="3" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="4" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="5" name="character[skills][<%= skill.id %>" />
							</td>
						</tr>
					<% end %>
				</table>
				specialties go here
				<h3>Physical</h3>
				<table width="100%">
					<% @physical_skills.each do |skill| %>
						<tr>
							<th><%= skill.name %></th>
							<td>
								<input type="radio" value="1" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="2" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="3" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="4" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="5" name="character[skills][<%= skill.id %>" />
							</td>
						</tr>
					<% end %>
				</table>
				<h3>Social</h3>
				<table width="100%">
					<% @social_skills.each do |skill| %>
						<tr>
							<th><%= skill.name %></th>
							<td>
								<input type="radio" value="1" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="2" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="3" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="4" name="character[skills][<%= skill.id %>" />
								<input type="radio" value="5" name="character[skills][<%= skill.id %>" />
							</td>
						</tr>
					<% end %>
				</table>
			</td>
			<td colspan="2" valign="top">
				<h2>Other Traits</h2>
				<table width="100%">
					<tr>
						<td valign="top">
							<% @character_type.power_types.each do |power_type| %>
								<h3><%= power_type.name %></h3>
								<%= grouped_collection_select(power_type.name, nil, power_type.power_groups, :powers, :name, :id, :name) %>
							<% end %>
							<h3>Merits</h3>
							<%= collection_select(:merit, nil, Merit.all, :id, :name) %>
							<div class="row">
								<%= f.text_field :size %>
							</div>
							<div class="row">
								<%= f.text_field :speed %>
							</div>
							<div class="row">
								<%= f.text_field :defense %>
							</div>
							<div class="row">
								<%= f.text_field :armor_ballistic %>
							</div>
							<div class="row">
								<%= f.text_field :armor_general %>
							</div>
						</td>
						<td valign="top">
							<div class="row">
								<h3>Health</h3>
								<%= f.text_field :health %>
							</div>
							<div class="row">
								<h3>Willpower</h3>
								<%= f.text_field :willpower %>
							</div>
							<div class="row">
								<h3>Power Stat</h3>
								<%= f.text_field :power_stat %>
							</div>
							<div class="row">
								<h3>Resource</h3>
								<%= f.text_field :max_resource %>
							</div>
							<div class="row">
								<h3>Morality</h3>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							notes or equipment or something?
						</td>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="row">
					<h2>Questionnaire</h2>
					<h3>Question1</h3>
					<%= f.text_area :answer1 %>
					<h3>Question2</h3>
					<%= f.text_area :answer2 %>
					<h3>Question3</h3>
					<%= f.text_area :answer3 %>
					<h3>Question4</h3>
					<%= f.text_area :answer4 %>
					<h3>Question5</h3>
					<%= f.text_area :answer5 %>
					<h3>Question6</h3>
					<%= f.text_area :answer6 %>
					<h3>Question7</h3>
					<%= f.text_area :answer7 %>
					<h3>Question8</h3>
					<%= f.text_area :answer8 %>
				</div>
				<div class="row">
					<h2>Printed Notes</h2>
					<%= f.text_area :printed_notes %>
				</div>
				<div class="row">
					<h2>Storyteller Notes</h2>
					<%= f.text_area :st_notes %>
				</div>
			</td>
		</tr>
	</table>